# Rust
rust/target/
rust/**/*.rs.bk
rust/Cargo.lock

# Flutter
flutter/.dart_tool/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies
flutter/.packages
flutter/.pub-cache/
flutter/.pub/
flutter/build/
flutter/ios/Pods/
flutter/ios/.symlinks/
flutter/ios/Flutter/Flutter.framework
flutter/ios/Flutter/Flutter.podspec
flutter/android/.gradle/
flutter/android/app/build/
flutter/android/local.properties

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


